h1{ color: white; text-decoration: underline;
text-align: center;
}
body {
background-color: #552583;
text-align: center;
color: white;
font-family: 'Times New Roman', Times, serif;
}
#header {
  padding: 20px;
  margin: 10px;
  text-align: center;
}
ol {
  display: inline-block;
  text-align: left;
}
#players {
  padding: 20px;
}
#video {
 padding: 20px;
}
ul {
  text-align: left;
}

a {
  color: #FDB927;  /* Lakers gold */
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  color: white;
}